header.header
    .header-mobile
        h1.header-logo Profe Edwin
        button.header-btn-nav.fa.fa-bars#btnMenu 
    nav.header-menu-navbar
        ul.header-menu-list#navbarMenu
            li.header-menu-list-item
                a(href="#") Inicio
            li.header-menu-list-item
                a(href="#") Acerda
            li.header-menu-list-item
                a(href="#") Blog
            li.header-menu-list-item
                a(href="#") Contacto
